{
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	width: 100%;
	background-color: #FFF8DC;
	font-family: 'Open Sans', sans-serif;
}

a{
	text-decoration: none;
	background-color:transparent;
}


a:active,a:hover{
	outline: 0px;
	color: inherit;
}

#wrapper{
	min-width: 100%;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

#header{
	padding: 0% 0% 0% 0%;
	background: #000;
	width: 100%;
	height: 8%;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 0.3em solid #4C9CF1;
	z-index: 100;
	font-size: 0.7em;
}

#header a:hover{
	/*font-size: 105%;*/
	color: #FFFF99;
}

#header a{
	font-size: 100%;
	color: inherit;
	outline: inherit;
	text-decoration: none;
}

#footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	min-width: 100%;
	height: auto;
	text-align: center;
	font: normal 0.7em sans-serif;
	color: white;

	padding: 0% 0%;
	margin-top: 1%;
	clear: both;
	float: left;
	position: relative;
	z-index: 10;
	border-top: 0.3em solid #4C9CF1;
}

#logout{
	color: blue;
	text-align: right;
	font-weight: bold;
	font-style: italic;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
	margin: 6% 1% 1% 0%;
}

form fieldset input {
	display: inline-block;
	float: left;
}

fieldset {
	width: 93%;
	margin: 0px auto;
	text-align: center;
	float: none;
	clear: both;
	margin-bottom: 1%;
}

form fieldset label.txt {
	display: inline-block;
	float: left;
	clear: left;
	width: 20%;
	text-align: right;
}

form fieldset label.input{
	display: inline-block;
	float: left;
	clear: left;
	width: 20%;
	text-align: right;
}

body{
	margin: 0% 0%;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #fff;
}

.login_page{
	width: 46%;
	height: auto;
	background: #F2FFE6;
	margin: 10% 0% 0% 0%;
}

.login_type td {
	border: none;
}

.login_text{
	width: 25%;
	height: auto;
	text-align: left;
	float: left;
}

.login_input{
	width: 74%;
	height: auto;
	text-align: right;
	float: left;
}

.login_sub {
	width: 20%;
	height: 10%;
	text-align: center;
	float: none;
}

#loginreq1, #loginreq2, #loginreq3 {
	font-size: 18;
	color: red;
}

.messages{
	text-align: center;
	font-size: 16px;
	color: blue;
}

.messages0{
	color: red;
}

.container{
	width: 100%;
	height: auto;
	min-height: 31em;
	float: left;
	margin: 0% 0% 0% 0%;
}

.side_bar{
	padding-top: 0.01%;
	height: 100%;
	width: 19%;
	float: left;
}

.side_bar_inner{
	position: absolute;
	padding-top: 0%;
	padding-bottom: 0%;
	height: auto;
	width: 18%;
	background-color: transparent;
	color: #000;
	float: left;
}

.side_bar_inner_inner{
	height: 100%;
	width: 100%;
	overflow-y: hidden;
	padding-top: 10%;
	padding-bottom: 15%;
	color: #000;
	background-color: #F1F1F1;
	float: left;
}

.side_bar ul li a:active,ul li a:hover{
	/*font-size: 110%;*/
	color: #00b300;
	background-color: #FFFF99;
}

.side_bar ul{
	list-style-type: none;
	line-height: 2.5;
	padding-left: 10%;
	font-weight: bold;
}

.side_bar ul li:after{
	content: "";
	display: block;
	height: 1px;
	width: 90%;
	margin: 2%;
	background: #f00;
	margin-left: 0;
}

.main_content{
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 80%;
	height: auto;
	float: left;
	background: #CCD6CC;
}

.holder{
	width: 100%;
	height: auto;
}

#upload_msg{
	color: red;
}

#left_align{
	width: 49%;
	height: auto;
	float: left;
	text-align: left;
	color: blue;
}

#right_align{
	width: 49%;
	height: auto;
	float: left;
	text-align: right;
	color: green;
}

#messages fieldset{
	text-align: center;
	font-size: 18px;
	color: red;
	background-color: black;
}

.Main_Content_Header{
	text-align: center;
	font-size: 18px;
	color: red;
	background-color: black;
}

#horizontal_list{
	float: none;
}

#horizontal_list div{
	width: 31.3%;	float: left;
	margin: 1%;
}

.table_wrapper{
	width: 100%;
	height: auto;
	overflow-x: auto;
	float: left;
	text-align: center;
	background-color: inherit;
	margin-bottom: 2%;
}

#edit_user_search_table{
	width: 91%;
    height: 400px;
	overflow-x: auto;
	overflow-y: auto;
	float: none;
	text-align: center;
	background-color: inherit;
	margin-bottom: 2%;
}

.mytables2{
	width: auto;
	border-collapse: collapse;
}

.mytables2 th,td{
	border: 1px solid #3f7f00;
	padding: 2px;
	text-align: center;
}


.mytables2 thead,tbody{
	display: block;
}

.mytables2 thead{
	position: absolute;
}

.mytables2 tbody{
	height: 350px;	  /*  Just for the demo		 */
	overflow-y: auto;   /* Trigger vertical scroll	*/
	overflow-x: auto;   /* Hide the horizontal scroll */
}

.display_buttons{
	width: 50%;
	float: none;
	margin-bottom: 4%;
}

.display_buttons div{
	width: 50%;
	text-align: center;
	float: left;
}

.button_holder{
	margin: 0% 0% 0.5% 0%;
}

.submit_button{
	border-radius: 5px;
	border: 1px solid gray;
	width: auto;
	height: auto;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffb3;
	background: #00cc66;
	/* Old browsers */
	background: -moz-linear-gradient(top, #00cc66 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #00cc66), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00cc66 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00cc66 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #00cc66 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #00cc66 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cc66', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
}

.submit_button:hover{
	color: #00cc66;
	background: #ffffb3;
	/* Old browsers */
	background: -moz-linear-gradient(top, #ffffb3 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ffffb3), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffb3 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffb3 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffb3 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #ffffb3 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffb3', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */cursor: pointer;
}

.cancel_button{
	border-radius: 5px;
	border: 1px solid gray;
	width: auto;
	height: auto;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	color: #FF0;
	background: #900;
	/* Old browsers */
	background: -moz-linear-gradient(top, #900 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #900), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #900 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #900 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #900 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #900 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#900', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
}

.cancel_button:hover{
	color: #900;
	background: #FF0;
	/* Old browsers */
	background: -moz-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FF0), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #FF0 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */cursor: pointer;
}

.logout_button{
	border-radius: 5px;
	border: 1px solid gray;
	width: auto;
	height: auto;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	color: #333300;
	background: #A8A862;
	/* Old browsers */
	background: -moz-linear-gradient(top, #A8A862 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #A8A862), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #A8A862 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #A8A862 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #A8A862 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #A8A862 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A862', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
}

.logout_button:hover{
	color: #FF0;
	background: #333300;
	/* Old browsers */
	background: -moz-linear-gradient(top, #333300 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #333300), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #333300 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #333300 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #333300 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #333300 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333300', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */cursor: pointer;
}

.go_button{
	border-radius: 5px;
	border: 1px solid gray;
	width: auto;
	height: auto;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	color: #FFFF99;
	background: #005580;
	/* Old browsers */
	background: -moz-linear-gradient(top, #005580 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #005580), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #005580 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #005580 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #005580 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #005580 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005580', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
}

.go_button:hover{
	color: #005580;
	background: #FFFF99;
	/* Old browsers */
	background: -moz-linear-gradient(top, #FFFF99 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FFFF99), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FFFF99 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FFFF99 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FFFF99 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #FFFF99 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF99', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */cursor: pointer;
}

.edit_button{
	border-radius: 5px;
	border: 1px solid gray;
	width: auto;
	height: auto;
	font-family: Tahoma;
	font-size: 1.2em;
	font-weight: bold;
	color: #FF0;
	background: #181DAA;
	/* Old browsers */
	background: -moz-linear-gradient(top, #181DAA 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #181DAA), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #181DAA 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #181DAA 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #181DAA 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #181DAA 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181DAA', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */
}

.edit_button:hover{
	color: #181DAA;
	background: #FF0;
	/* Old browsers */
	background: -moz-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #FF0), color-stop(120%, #ededed));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #FF0 20%, #ededed 120%);
	/* IE10+ */
	background: linear-gradient(to bottom, #FF0 20%, #ededed 120%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0', endColorstr='#ededed', GradientType=0);
	/* IE6-9 */cursor: pointer;
}

#file {
	width: 95%;
}

link {
	display: none;
}