.mytables {
	margin:0px 0px 10px 0px; padding:0px;
	width:50%;	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.mytables{
	width: auto;
	height: 100%;
	padding: 0px;
	background-color: #0067A5;
}

.mytables caption{
	caption-side: top;
	text-align: center;
	font-weight: bold;
	background-color: #99d6ff;
	border: 1px solid #3f7f00;
}

.mytables tr:last-child td:last-child{
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.mytables table tr:first-child td:first-child{
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.mytables table tr:first-child td:last-child{
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

.mytables tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}
.mytables tr:hover td{
	background-color:#ebffd8;
}

.mytables td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #d4ffaa 5%, #ebffd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4ffaa), color-stop(1, #ebffd8) ); 	background:-moz-linear-gradient( center top, #d4ffaa 5%, #ebffd8 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d4ffaa", endColorstr="#ebffd8");	background: -o-linear-gradient(top,#d4ffaa,ebffd8);
	background-color:#d4ffaa;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}

.mytables tr:last-child td{
	border-width:0px 1px 0px 0px;
}

.mytables tr td:last-child{
	border-width:0px 0px 1px 0px;
}

.mytables tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.mytables th{
	background-color:#5fbf33;
}

.mytables tr:first-child td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.mytables tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");	background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
}

.mytables tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}

.mytables tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}